{% extends "blog/base.html" %}

{% block content %}
    <br>
    <div class="content-section" style=" background-color: #343a40;">
        <center>
            <h1 style="padding: 10px 0px 0px 15px; color:white">Analysis </h1>
        </center>
        
    </div>
    <div>
        <div class="row" style="padding: 10px 0px 0px 0px">
            <div class="col-md-6">
                <div class="card"> 
                    <h3 class="card-header text-white" style="background-color: #343a40;">Top 5 Most Frequent Words</h3>
                    <br>
                    <div class="card-body">
                    <table class="table"> 
                        <thead class="thead-light">
                            {% for data in df %} 
                                <th>{{ data }}</th> 
                            {% endfor %} 
                        </thead>
                        <tbody>
                            {% for _, record in df.iterrows %} 
                                <tr> 
                                    {% for value in record %} 
                                        <td>{{ value }}</td> 
                                    {% endfor %} 
                                </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card"> 
                    <h3 class="card-header text-white" style="background-color: #343a40;">Rating Scale</h3>
                    <div class="card-body">
                        <img class="col-md-12" src="data:image/png;base64,{{ data }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="padding: 0px 0px 10px 0px">
            <div class="col-md-6">
                <div class="card"> 
                    <h3 class="card-header text-white" style="background-color: #343a40;">Top 10 Positive Words</h3>
                    <div class="card-body">
                    <table class="table"> 
                        <thead class="thead-light">
                            {% for data in df1 %} 
                                <th>{{ data }}</th> 
                            {% endfor %} 
                        </thead>
                        <tbody>
                            {% for _, record in df1.iterrows %} 
                                <tr> 
                                    {% for value in record %} 
                                        <td>{{ value }}</td> 
                                    {% endfor %} 
                                </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card"> 
                    <h3 class="card-header text-white" style="background-color: #343a40;">Top 10 Negative Words</h3>
                    <div class="card-body">
                    <table class="table"> 
                        <thead class="thead-light">
                            {% for data in df2 %} 
                                <th>{{ data }}</th> 
                            {% endfor %} 
                        </thead>
                        <tbody>
                            {% for _, record in df2.iterrows %} 
                                <tr> 
                                    {% for value in record %} 
                                        <td>{{ value }}</td> 
                                    {% endfor %} 
                                </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


