{% extends "blog/base.html" %}

{% block content %}
    
    
    <div class="row" style="padding: 10px 0px 0px 0px;">
            <div class="col-md-8">
            
            {% for post in posts2deq %}
            
            {% if post.0 < -0.6 %}
            <article class="media content-section box5"> 
                <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">by {{ post.3 }}</a>
                    <small class="text-muted">{{ post.4 }}</small>
                </div>
                <h2><a data-toggle="modal" data-target="#Modal{{ post.5 }}" class="article-title" href="#">{{ post.1 }}</a></h2>
                <p class="article-content">{{ post.2 }}</p>
                <!--<p class="article-content">{{ post.0 }}</p>-->
                </div>
            </article>
            {% elif post.0 >= -0.6 and post.0 < -0.2  %} 
            <article class="media content-section box4"> 
                <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">by {{ post.3 }}</a>
                    <small class="text-muted">{{ post.4 }}</small>
                </div>
                <h2><a data-toggle="modal" data-target="#Modal{{ post.5 }}" class="article-title" href="#">{{ post.1 }}</a></h2>
                <p class="article-content">{{ post.2 }}</p>
                <!--<p class="article-content">{{ post.0 }}</p>-->
                </div>
            </article>
            {% elif post.0 >= -0.2 and post.0 < 0.2  %} 
            <article class="media content-section box3"> 
                <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">by {{ post.3 }}</a>
                    <small class="text-muted">{{ post.4 }}</small>
                </div>
                <h2><a data-toggle="modal" data-target="#Modal{{ post.5 }}" class="article-title" href="#">{{ post.1 }}</a></h2>
                <p class="article-content">{{ post.2 }}</p>
                <!--<p class="article-content">{{ post.0 }}</p>-->
                </div>
            </article>
            {% elif post.0 >= 0.2 and post.0 < 0.6 %}
            <article class="media content-section box2"> 
                <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">by {{ post.3 }}</a>
                    <small class="text-muted">{{ post.4 }}</small>
                </div>
                <h2><a data-toggle="modal" data-target="#Modal{{ post.5 }}" class="article-title" href="#">{{ post.1 }}</a></h2>
                <p class="article-content">{{ post.2 }}</p>
                <!--<p class="article-content">{{ post.0 }}</p>-->
                </div>
            </article>
            {% else %}
            <article class="media content-section box1"> 
                <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">by {{ post.3 }}</a>
                    <small class="text-muted">{{ post.4 }}</small>
                </div>
                <h2><a data-toggle="modal" data-target="#Modal{{ post.5 }}" class="article-title" href="#">{{ post.1 }}</a></h2>
                <p class="article-content">{{ post.2 }}</p>
                <!--<p class="article-content">{{ post.0 }}</p>-->
                </div>
            </article>
            {% endif %}
            <div id="Modal{{ post.5 }}" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg" role="content">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">{{ post.1 }}</h2>
                            <button type="button" class="close" data-dismiss="modal">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{ post.2 }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
           
            
            
        </div>

        

        <div class="col-sm-3">
            <div class="card">
              <h3 class="card-header text-white" style="background-color: #343a40;">Sort Methods</h3>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light"><a href="{% url 'blog-home' %}"><i class="fa fa-smile-o"></i> Positive Posts First</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{% url 'blog-home1' %}"><i class="fa fa-meh-o"></i> Critical Posts First</a></li>
                      </ul>
                </div>
              </p>
            </div>
            <div style="padding: 15px 0px 0px 0px;">
                <div class="card">
                    <h3 class="card-header text-white" style="background-color: #343a40;">New here?</h3>
                    <div class="card-body">
                        <p>
                            Register or Log in to create posts and 
                            check out the Analysis page. Click on a post's title for a better view of the post.
                            Use scrape mode to create posts automatically.
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    
    

    
{% endblock content %}
